.about__wrapper {
  display: flex;
  justify-content: space-between;
}

.about__content {
  flex-basis: 500px;
}

.about__text {
  margin-bottom: 48px;
}

.about__blockquote {
  position: relative;
  margin-bottom: 39px;
  padding-left: 31px;

  font-size: 44px;
  line-height: 1.14;
  text-transform: uppercase;
}

.about__blockquote:before {
  content: url(../img/about/quotes-start.png);
  position: absolute;
  top: -20px;
  left: 0;
}

.about__blockquote:after {
  content: url(../img/about/quotes-end.png);
  position: absolute;
  bottom: 15px;
  right: 110px;
}

.about__creator {
  position: relative;
  display: flex;
  width: 280px;
  margin-left: auto;
  padding-left: 30px;
}

.about__creator:before {
  content: url(../img/about/creator.png);
  position: absolute;
  top: 3px;
  left: -80px;
}
