.about {
  padding: 50px 0;
}

.about__title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
}

.about__row {
  font-size: 0; /* чтобы убрать отступ у inline-block */
}

.about__column-first {
  display: inline-block;
  margin-right: 80px;
}

.about__column-second {
  display: inline-block;
  max-width: 500px;
  vertical-align: top;

  font-size: 20px; /* для тега br */
}

.about__content {
  font-size: 20px;
  line-height: 1.4;
}

.about__content:last-of-type {
  margin-bottom: 48px;
}

.quote__inner {
  margin-bottom: 39px;
  font-size: 44px;
  line-height: 1.14;
  text-transform: uppercase;
}

.quote__text {
  display: inline;
  white-space: pre-wrap;
}

.quote__mark {
  font-weight: 900;
}

.quote__mark--purple {
  color: #6c0287;
}

.quote__author {
  display: flex;
  padding-left: 111px;
}

.quote__image {
  margin-right: 30px;
}

.quote__description {
  font-size: 20px;
  line-height: 1.4;
}
