.contact {
	padding: 50px 0;
}

.contact__title {
	margin-bottom: 40px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
}

.contact__info {
  margin-bottom: 39px;
  font-style: normal;
}

.contact__inner {
  display: flex;
  align-items: center;
}

.contact__icon {
  color: #cd06ff;
}

.location {
  margin-bottom: 38px;
}

.phone {
	margin-bottom: 11px;
}

.contact__text {
  padding-left: 60px;
  font-size: 24px;
	font-weight: 700;
	line-height: 1.17;
}

.social {
	display: flex;
}

.social__item {
	margin-right: 27px;
}

.social__item:last-child {
	margin-right: 0;
}
