.footer {
  background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__details {
  display: flex;
  column-gap: 28px;

  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
}

.contacts__icon {
  color: var(--color-pink);
}

.contacts__text {
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.contacts__text:hover,
.contacts__text:focus {
  color: var(--color-pink);
}

.contacts__text:focus {
  outline: none;
}

.contacts__text:active {
  color: var(--color-purple-intense);
}

.location {
  margin-bottom: 39px;
}

.phone {
  margin-bottom: 14px;
}

.email {
  margin-bottom: 35px;
}

.social__items {
  display: flex;
  column-gap: 26px;
}

.social__icon {
  transition-property: outline-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.social__icon:hover {
  color: var(--color-purple-opacity);
}

.social__link:focus-visible {
  outline: none;
}

.social__link:focus .social__icon {
  color: var(--color-purple-opacity);
  outline: 1px solid var(--color-pink);
}

.social__link:active .social__icon {
  color: var(--color-pink);
}
