:root {
  scroll-behavior: smooth;
}

html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;

  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  color: var(--color-light);
  background-color: var(--color-dark);
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
blockquote {
  margin: 0;
}

h2 {
  margin-bottom: 40px;

  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

iframe {
  border: none;
}

section {
  padding: 50px 0;
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  margin-left: -70px;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding: 0 var(--container-padding-x);
  margin: 0 auto;
}
