.hall {
	padding: 50px 0;
}

.hall__title {
	margin-bottom: 40px;

	font-size: 40px;
  font-weight: 700;
	line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
}

.hall__items {
  font-size: 0; /* для обнуления отступа у inline-block */
}

.hall__item {
  position: relative;
  display: inline-block;
  width: 580px;
  height: 349px;
}

.hall__item:nth-child(-n + 2) {
  margin-bottom: 20px;
}

.hall__item:not(:nth-child(2n)) {
  margin-right: 20px;
}

.hall__text {
  position: absolute;
  left: 0;
  right: 0;
  top: 135px;

  font-size: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.vibes {
	background-image: url(../img/vibes.jpg);
}

.star-wars {
	background-image: url(../img/star-wars.jpg);
}

.wild-west {
	background-image: url(../img/wild-west.jpg);
}

.neon-style {
	background-image: url(../img/neon-style.jpg);
}
