.header {
  padding: 30px 0 25px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-list {
  display: flex;
  gap: 40px;
}

.header__menu-link {
  font-size: 22px;
  line-height: 2.27;
  text-transform: uppercase;

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.header__menu-link:hover,
.header__menu-link:focus {
  color: var(--color-pink);
}

.header__menu-link:focus {
  outline: none;
}

.header__menu-link:active {
  color: var(--color-purple-intense);
}

.header__button {
  padding: 12px 32px 13px;

  font-size: 22px;
  font-weight: 700;
  line-height: 1.36;
  text-transform: uppercase;

  color: var(--color-purple-opacity);
  border: 3px solid var(--color-pink);
  border-radius: var(--border-radius);
  transition-property: background-color, outline-color, border-color, transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.header__button:hover,
.header__button:focus {
  border-color: transparent;
  background-color: var(--color-purple);
}

.header__button:focus {
  outline: none;
}

.header__button:active {
  border-color: transparent;
  background-color: var(--color-purple-intense);
  outline: 1px solid var(--color-light);
  transform: scale(0.98);
}
