.header {
  padding: 30px 0 25px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-list {
  display: flex;
  gap: 40px;
}

.header__menu-link {
  font-size: 22px;
  line-height: 2.27;
  text-transform: uppercase;
}

.header__menu-link:hover {
  color: #6c0287;
}

.header__menu-link:focus {
  color: #640aa3;
  outline: none;
}

.header__menu-link:active {
  color: #640aa3;
}

.header__button {
  padding: 12px 32px 13px;

  font-size: 22px;
  font-weight: 700;
  line-height: 1.36;
  text-transform: uppercase;

  color: #fff;
  border: 3px solid #cd06ff;
  border-radius: 10px;
}

.header__button:hover,
.header__button:focus {
  border-color: transparent;
  background-color: #6c0287;
}

.header__button:focus {
  outline: none;
}

.header__button:active {
  border-color: transparent;
  background-color: #640aa3;
  outline: 1px solid #fff;
}
