.header {
  padding: 30px 0 25px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-list {
  display: flex;
  gap: 40px;
}

.header__menu-link {
  font-size: 22px;
  line-height: 2.27;
  text-transform: uppercase;
}

.header__button {
  padding: 12px 32px 13px;

  font-size: 22px;
  font-weight: 700;
  line-height: 1.36;
  text-transform: uppercase;

  color: #fff;
  border: 3px solid #cd06ff;
  border-radius: 10px;
}
