.hero {
	position: relative;
	padding-top: 25px;
}

.hero__container {
	position: relative;
	min-height: 823px;
}

.hero__container:after {
	content: url(../img/hero/male-vr.png);
	position: absolute;
	right: 30px;
	bottom: -20px;
}

.hero__title {
	font-size: 150px;
	font-weight: 900;
	line-height: 100%;
	letter-spacing: -0.1em;
}

.hero__subtitle {
	margin-bottom: 30px;
	padding-left: 100px;

	font-size: 28px;
	line-height: 1.79;
}

.hero__description {
	display: flex;
	margin-bottom: 150px;
	align-items: flex-end;
	column-gap: 40px;
}

.hero__text {
	width: min-content;
	font-size: 30px;
	text-align: center;
}

.hero__text-left-column {
	font-size: 100px;
	font-weight: 900;

	color: var(--color-pink);
}

.hero__text-right-column {
	font-size: 75px;
	font-weight: 900;
	font-variant: all-small-caps;

	color: var(--color-pink);
}

.hero__link-reservation {
	display: inline-block;
	padding: 25px 69px;

	font-size: 26px;
	font-weight: 700;
	line-height: 1.15;
	text-transform: uppercase;

	background-color: var(--color-purple);
	border-radius: var(--border-radius);
  transition-property: background-color, transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.hero__link-reservation:hover,
.hero__link-reservation:focus  {
  background-color: var(--color-purple-light);
}

.hero__link-reservation:focus {
  outline: none;
}

.hero__link-reservation:active {
  background-color: var(--color-purple-intense);
  transform: scale(0.97);
}

.hero__link-down {
	position: absolute;
	margin: auto;
	left: 46%;
	bottom: 90px;
	z-index: 10;
}

.hero__arrow-icon {
  border: 1px solid var(--color-light);
  border-radius: 50%;
  transition-property: background-color, outline-color, border-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.hero__link-down:hover .hero__arrow-icon {
  color: var(--color-purple);
  background-color: var(--color-light);
}

.hero__link-down:focus {
  outline: 1px solid var(--color-pink);
}

.hero__link-down:active .hero__arrow-icon {
  color: var(--color-light);
  border-color: var(--color-pink);
  background-color: var(--color-pink);
}
