.reservation {
  padding: 80px 0;
  background-color: #440f51;
}

.form__fieldset {
  margin-bottom: 40px;
}

.form__title {
  margin-bottom: 40px;

  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

.form__section:not(:last-child) {
  margin-bottom: 60px;
}

.form-room__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.form-room__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 55px;

  font-size: 30px;
  font-weight: 700;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;

  color: #000;
  background-color: #fff;
  border-radius: 8px;
}

.form-room__label:hover {
  outline: 3px solid #640aa3;
  background-color: #eadeed;
}

.form-room__radio:focus + .form-room__label {
  outline: 3px solid #640aa3;
  background-color: #fff;
}

.form-room__label:active,
.form-room__radio:checked + .form-room__label {
  outline: 3px solid #fff;
  color: #fff;
  background-color: #6c0287;
}

.form-entertainment__title {
  margin-bottom: 25px;

  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
}

.form-entertainment__wrapper {
  display: flex;
  justify-content: space-around;
}

.form-entertainment__item:not(:last-child) {
  margin-bottom: 20px;
}

.form-entertainment__label {
  padding-left: 40px;
  font-size: 22px;
}

.form-entertainment__radio:before,
.form-entertainment__checkbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 70px;

  display: block;
  width: 25px;
  height: 25px;

  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.form-entertainment__radio:before {
  border-radius: 50%;
}

.form-entertainment__checkbox:before {
  border-radius: 4px;
}

.form-entertainment__radio:after {
  content: '';
  position: absolute;
  top: 2.5px;
  left: 72.5px;

  width: 20px;
  height: 20px;

  background-color: #211e1e;
  border-radius: 50%;
  opacity: 0;
}

.form-entertainment__checkbox:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 75px;

  width: 16px;
  height: 9px;
  border: 3px solid #211e1e;
  border-top: none;
  border-right: none;

  opacity: 0;
  transform: rotate(-45deg);
}

.form-entertainment__radio:focus-visible,
.form-entertainment__checkbox:focus-visible {
  outline: none;
}

.form-entertainment__radio:focus:before,
.form-entertainment__checkbox:focus:before {
  outline: 2.5px solid #cd06ff;
}

.form-entertainment__radio:checked:after,
.form-entertainment__checkbox:checked:after {
  opacity: 1
}

.form-details__rows {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}

.form-details__column {
  flex-basis: 300px;
  align-self: flex-end;
}

.form-details__date {
  display: flex;
  column-gap: 32px;
  margin-bottom: 36px;
}

.form-details__item:not(:last-child) {
  margin-bottom: 14px;
}

.form-details__input {
  width: 100%;
  border: none;
  padding: 12px 0 12px 20px;

  font-size: 18px;
  line-height: 1.56;
  color: #211e1e;
}

.form-details__input:focus {
  outline: 2px solid #cd06ff;
}

.form-details__input--date {
  width: 134px;
}

.form-details__label {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}

.form__button {
  display: block;
  margin-inline: auto 90px;
  padding: 16px 50px;

  font-size: 22px;
  font-weight: 700;
  line-height: 1.27;
  text-transform: uppercase;

  color: #6c0287;
  background-color: #fff;
  border-radius: 10px;
}

.form__button:hover {
  background-color: #eadeed;
  outline: 3px solid #6c0287;
}

.form__button:focus {
  outline: 3px solid #6c0287;
  background-color: #fff;
}

.form__button:active {
  background-color: #eadeed;
  outline: none;
}
