.rooms {
  padding-bottom: 100px;
}

.rooms__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.rooms__item {
  flex-basis: 580px;
  background-size: contain;
}

.rooms__text {
  width: min-content;
  margin: 0 auto;
  padding: 95px 0;

  font-size: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.rooms__item--vibes {
	background-image: url(../img/rooms/vibes.jpg);
}

.rooms__item--star-wars {
	background-image: url(../img/rooms/star-wars.jpg);
}

.rooms__item--wild-west {
	background-image: url(../img/rooms/wild-west.jpg);
}

.rooms__item--neon-style {
	background-image: url(../img/rooms/neon-style.jpg);
}
