:root {
  --container-width: 1180px;
  --container-padding-x: 30px;

  --color-light: #fff;
  --color-dark: #1b1a1b;
  --color-pink: #cd06ff;
  --color-purple: #6c0287;
  --color-purple-opacity: #eadeed;
  --color-purple-light: #840aa3;
  --color-purple-dark: #440f51;
  --color-purple-intense: #640aa3;

  --border-radius: 10px;

  --transition-duration: .2s;
  --transition-timing-function: ease-in;
}
