* {
  box-sizing: border-box;
}

body {
  background-color: #1b1a1b;
  color: #fff;
}

.wrapper {
  width: 1200px;
  padding: 30px;
  margin: 0 auto;
}

blockquote>span {
  text-transform: uppercase;
}