.fqa {
  padding-bottom: 45px;
}

/* Media */

@media (max-width: 1080px) {
  .fqa {
    padding-bottom: 35px;
  }

  .fqa__title {
    margin-bottom: 26px;
  }
}

@media (max-width: 768px) {
  .fqa__title {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .fqa {
    padding-bottom: 15px;
  }

  .fqa__title {
    margin-bottom: 15px;
  }
}
