.header {
  padding: 30px 0 25px;

  font-size: 22px;
  text-transform: uppercase;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo:focus {
  outline: none;
}

.header__logo:focus-visible {
  outline: 1px solid var(--color-plum);
}

.header__menu-list {
  display: flex;
  column-gap: 40px;
}

.header__menu-link {
  line-height: 2.27;

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.header__menu-link:hover,
.header__menu-link:focus-within {
  color: var(--color-pink);
}

.header__menu-link:focus {
  outline: none;
}

.header__menu-link:active {
  color: var(--color-purple);
}

.header__button-mobile {
  display: none;
}

.header__button {
  padding: 10px 29px;
  border: 3px solid var(--color-pink);

  font-size: inherit;
  font-weight: 700;
  line-height: 1.36;
  text-transform: uppercase;

  color: var(--color-light);
  background-color: transparent;
  border-radius: var(--border-radius);

  transition-property: background-color, border-color, transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.header__button:hover,
.header__button:focus {
  border-color: transparent;
  background-color: var(--color-eggplant);
}

.header__button:focus {
  outline: none;
}

.header__button:active {
  background-color: var(--color-purple);
  transform: scale(.985);
}

/* Media */

@media (max-width: 1280px) {
  .header {
    font-size: 20px;
  }

  .logo__image {
    width: 100px;
  }

  .header__menu-list {
    column-gap: 30px;
  }

  .header__button {
    padding: 9px 26px;
  }
}

@media (max-width: 1080px) {
  .header {
    padding: 30px 0 15px;
    font-size: 18px;
  }

  .logo__image {
    width: 87px;
    height: 60px;
  }

  .header__menu-list {
    column-gap: 20px;
  }

  .header__menu-link {
    line-height: 1.22;
  }

  .header__button {
    padding: 8px 23px;
    line-height: 1.33;
  }
}

@media (max-width: 940px) {
  .header {
    position: relative;
    padding-top: 32px;
  }

  .header-overlay {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: rgba(27, 26, 27, 0.7);
  }

  .header__container {
    flex-wrap: wrap;
  }

  .header__menu {
    --header-height: 107px;

    position: absolute;
    top: var(--header-height);
    left: 0;
    z-index: 100;

    width: 100%;
    height: calc(100vh - var(--header-height));
    text-align: center;
    padding: 58px 0;

    background-color: var(--background-color);
    overflow-y: auto;
  }

  .header__menu-list {
    display: block;
  }

  .header__menu-item:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .header__menu-link {
    display: block;
    width: 100%;
    padding: 8px 0;

    font-size: 22px;
    line-height: 1;

    transition-property: background-color, font-weight;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  .header__menu-link:hover,
  .header__menu-link:focus-within {
    font-weight: 700;
    color: inherit;
    background-color: var(--color-eggplant);
  }

  .header__menu-link:focus {
    outline: none;
  }

  .header__menu-link:active {
    font-weight: 700;
    color: inherit;
    background-color: var(--color-pink);
  }
}

@media (max-width: 640px) {
  .header {
    font-size: 14px;
  }

  .logo__image {
    width: 66px;
    height: 42px;
  }

  .header__menu {
    --header-height: 89px;
    padding: 46px 0;
  }

  .header__menu-item:not(:last-of-type) {
    margin-bottom: 24px;
  }

  .header__menu-link {
    font-size: 18px;
  }

  .header__button {
    padding: 5px 17px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 20px 0 10px;
  }

  .header__menu {
    --header-height: 72px;
    padding: 36px 0 27px;
  }

  .header__menu-list {
    margin-bottom: 38px;
  }

  .header__menu-item:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .header__menu-link {
    padding: 6px 0;
    font-size: 14px;
    line-height: 1.57;
  }

  .header__button-mobile {
    display: block;
  }

  .header__button-desk {
    display: none;
  }

  .header__button {
    margin: 0 auto;
    padding: 8px 20px;
    line-height: 1;
  }
}
